#a
{
    text-align: center;
    background-color: aqua;
    width: 100;

}
.a{
    background-color: aquamarine;
    text-align: center;
    display: inline-block;
    border: 2px solid black;
    margin: 50px  ;
    width: 17%;
    height: 300px;
}
#d
{
    text color: ;
    border: 2px solid black;
    width: 120px;
    height: 1px;
    margin: 123px;
}

